In [12]:
from joblib import Parallel, delayed
import math
import time

def sqrt_func(i, j):
    return math.sqrt(i**j), i

a= Parallel(n_jobs=2)(delayed(sqrt_func)(i, j) for i in range(5) for j in range(2))

In [15]:
a

[(1.0, 0),
 (0.0, 0),
 (1.0, 1),
 (1.0, 1),
 (1.0, 2),
 (1.4142135623730951, 2),
 (1.0, 3),
 (1.7320508075688772, 3),
 (1.0, 4),
 (2.0, 4)]

In [18]:
import pandas as pd
b = pd.DataFrame(a)

In [20]:
b.columns = ["a", "b"]

In [21]:
b

          a  b
0  1.000000  0
1  0.000000  0
2  1.000000  1
3  1.000000  1
4  1.000000  2
5  1.414214  2
6  1.000000  3
7  1.732051  3
8  1.000000  4
9  2.000000  4

In [22]:
list(b['b'])

[0, 0, 1, 1, 2, 2, 3, 3, 4, 4]

In [8]:
def change(b):
    b = 5

In [9]:
b = 3
change(b)

In [10]:
b

3

In [2]:
x = {'both1': 1, 'both2': 2, 'only_x': 100}
y = {'both1': 10, 'both2': 20, 'only_y': 200}
z = [{'both1': 1, 'both2': 2, 'only_x': 100}, {'both1': 10, 'both2': 20, 'only_y': 200}]
# print({k: x.get(k, 0) + y.get(k, 0) for k in set(x)})
# print({k: x.get(k, 0) + y.get(k, 0) for k in set(x) & set(y)})
print({k: x.get(k, 0) + y.get(k, 0) for k in set(x) | set(y)})

{'only_x': 100, 'both1': 11, 'both2': 22}
{'both1': 11, 'both2': 22}
{'only_x': 100, 'both2': 22, 'only_y': 200, 'both1': 11}

In [3]:
set(x)

{'both1', 'both2', 'only_x'}

In [9]:
import functools
import operator
import collections
ini_dict = [{'a':5, 'b':10, 'c':90},
            {'a':45, 'b':78}, 
            {'a':90, 'c':10}]

# sum the values with same keys
result = dict(functools.reduce(operator.add, map(collections.Counter, ini_dict)))

In [10]:
result

{'a': 140, 'b': 88, 'c': 100}